.root {
    view-timeline-name: --scene-1-scroll;
    view-timeline-axis: block;
}

.cat {
    animation-name: cat;
    animation-timeline: --scene-1-scroll;
    animation-range: cover 0% cover 100%;
    animation-fill-mode: both;
}

.dog {
    animation-name: dog;
    animation-timeline: --scene-1-scroll;
    animation-range: cover 0% cover 100%;
    animation-fill-mode: both;
}

.props {
    animation-name: props;
    animation-timeline: --scene-1-scroll;
    animation-range: cover 0% cover 100%;
    animation-fill-mode: both;
}

.hands {
    animation-name: hands;
    animation-timeline: --scene-1-scroll;
    animation-range: cover 0% cover 100%;
    animation-fill-mode: both;
}

.box {
    animation-name: box;
    animation-timeline: --scene-1-scroll;
    animation-range: cover 10% cover 60%;
    animation-fill-mode: both;
}

.chairLeft, .chairRight {
    animation-name: chairs;
    animation-timeline: --scene-1-scroll;
    animation-range: cover 0% cover 100%;
    animation-fill-mode: both;
}

.table {
    animation-name: table;
    animation-timeline: --scene-1-scroll;
    animation-range: cover 0% cover 100%;
    animation-fill-mode: both;
}

.grandpa {
    animation-name: grandpa;
    animation-timeline: --scene-1-scroll;
    animation-range: cover 0% cover 100%;
    animation-fill-mode: both;
}

.plant {
    animation-name: plant;
    animation-timeline: --scene-1-scroll;
    animation-range: cover 0% cover 100%;
    animation-fill-mode: both;
}

.light {
    animation-name: light;
    animation-timeline: --scene-1-scroll;
    animation-range: cover 0% cover 100%;
    animation-fill-mode: both;
}

.bookshelf {
    animation: bookshelfAndProps linear both;
    animation-timeline: --scene-1-scroll;
    animation-range: cover 0% cover 100%;
}

.background {
    animation: background linear both;
    animation-timeline: --scene-1-scroll;
    animation-range: cover 0% cover 100%;
}

.appear {
    animation: appear 1s ease-in-out both;
    animation-delay: 0.2s;
}

.layer {
    &:has(.hands), &:has(.grandpa) {
        .appear {
            animation-delay: 0.8s !important;
        }
    }

    &:nth-child(8n + 1) {
        .appear {
            animation-delay: 0.4s;
        }
    }

    &:nth-child(8n + 2) {
        .appear {
            animation-delay: 0.6s;
        }
    }

    &:nth-child(8n + 3) {
        .appear {
            animation-delay: 0.8s;
        }
    }
    
    &:nth-child(8n + 4) {
        .appear {
            animation-delay: 1s;
        }
    }

    &:nth-child(8n + 5) {
        .appear {
            animation-delay: 1.2s;
        }
    }

    &:nth-child(8n + 6) {
        .appear {
            animation-delay: 1.4s;
        }
    }

    &:nth-child(8n + 7) {
        .appear {
            animation-delay: 1.6s;
        }
    }
    
    &:nth-child(8n + 8) {
        .appear {
            animation-delay: 1.8s;
        }
    }
}

@keyframes cat {
    25% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes dog {
    from {
        transform: translateX(0);
    }
    to {
        /* transform: translateX(200px); */
    }
}

@keyframes props {
    from {
        transform: translateX(0);
    }
    to {
        /* transform: translateX(200px); */
    }
}

@keyframes hands {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(0);
    }
}

:root {
    --box-movement-percentage: 5%;
}

@keyframes box {
    from {
        transform: translate(calc(var(--box-movement-percentage)), calc(var(--box-movement-percentage) * tan(26.4deg) * 1.5 * -1));
    }
    to {
        transform: translateY(0);
    }
}

@keyframes chairs {
    from {
        transform: translate(200px, 0);
    }
    to {
        transform: translate(0, 0);
    }
}

@keyframes table {
    from {
        transform: translateX(0);
    }
    to {
        /* transform: translateX(200px); */
    }
}

@keyframes grandpa {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes plant {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(200px);
    }
}

@keyframes light {
    from {
        transform: translateX(0);
    }
    to {
        /* transform: translateX(200px); */
    }
}

@keyframes bookshelfAndProps {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(200px);
    }
}

@keyframes background {
    from {
        transform: translateY(-600px);
    }
    to {
        transform: translateY(0px);
    }
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(-32px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}