@import "tailwindcss";

@theme {
    --font-serif: var(--font-ibm-plex-serif);
    --font-sans: var(--font-inter);
}

body {
    background-color: #e9ebf1;
}

html {
	scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	} 
}

.layer {
	will-change: transform, opacity;
	contain: layout style paint;
	backface-visibility: hidden;
	transform-style: preserve-3d;
}