.root {
    view-timeline-name: --scene-3-scroll;
    view-timeline-axis: block;
}

.layer {
    composes: layer from global;
    animation-fill-mode: both;
}

.bgElements {
    /* Final-scene-3-merged_0023_bg-elements.png */
    animation-name: appearAndFade;
    animation-timeline: --scene-3-scroll;
    animation-range: cover 5% cover 10%;
}

.roads {
    /* Final-scene-3-merged_0022_roads.png */
    animation-name: appearAndFade;
    animation-timeline: --scene-3-scroll;
    animation-range: cover 8% cover 13%;
}

.uni {
    /* Final-scene-3-merged_0021_uni.png */
    animation-name: appearAndFade;
    animation-timeline: --scene-3-scroll;
    animation-range: cover 15% cover 40%;
}

.island10 {
    /* Final-scene-3-merged_0020_Island-10.png */
    animation-name: appearAndFade;
    animation-timeline: --scene-3-scroll;
    animation-range: cover 15% cover 40%;
}

.island9 {
    /* Final-scene-3-merged_0019_Island-9.png */
    animation-name: appearAndFade;
    animation-timeline: --scene-3-scroll;
    animation-range: cover 15% cover 30%;
}

.island8 {
    /* Final-scene-3-merged_0018_Island-8.png */
    animation-name: appearAndFade;
    animation-timeline: --scene-3-scroll;
    animation-range: cover 20% cover 45%;
}

.island7 {
    /* Final-scene-3-merged_0017_Island-7.png */
    animation-name: appearAndFade;
    animation-timeline: --scene-3-scroll;
    animation-range: cover 35% cover 60%;
}

.island6Email2 {
    /* Final-scene-3-merged_0016_Island-6-(email-2).png */
    animation-name: appearAndFade;
    animation-timeline: --scene-3-scroll;
    animation-range: cover 35% cover 60%;
}

.ixp {
    /* Final-scene-3-merged_0015_IXP.png */
    animation-name: appearAndFade;
    animation-timeline: --scene-3-scroll;
    animation-range: cover 5% cover 10%;
}

.mainIsland {
    /* Final-scene-3-merged_0014_Main-island.png */
    animation-name: appearAndFade;
    animation-timeline: --scene-3-scroll;
    animation-range: cover 20% cover 45%;
}

.boat {
    /* Final-scene-3-merged_0013_Boat.png */
    animation-name: appearAndFade;
    animation-timeline: --scene-3-scroll;
    animation-range: cover 20% cover 45%;
}

.touringBus {
    /* Final-scene-3-merged_0012_Touring-bus.png */
    animation-name: appearAndFade;
    animation-timeline: --scene-3-scroll;
    animation-range: cover 20% cover 45%;
}

.trainstationNtp {
    /* Final-scene-3-merged_0011_Trainstation-(NTP).png */
    animation-name: appearAndFade;
    animation-timeline: --scene-3-scroll;
    animation-range: cover 15% cover 40%;
}

.sidn {
    /* Final-scene-3-merged_0010_SIDN.png */
    animation-name: appearAndFade;
    animation-timeline: --scene-3-scroll;
    animation-range: cover 15% cover 40%;
}

.warehouses {
    /* Final-scene-3-merged_0009_warehouses.png */
    animation-name: appearAndFade;
    animation-timeline: --scene-3-scroll;
    animation-range: cover 25% cover 50%;
}

.island6 {
    /* Final-scene-3-merged_0007_Island-5.png */
    animation-name: appearAndFade;
    animation-timeline: --scene-3-scroll;
    animation-range: cover 30% cover 55%;
}

.island5 {
    /* Final-scene-3-merged_0008_Island-5.png */
    animation-name: appearAndFade;
    animation-timeline: --scene-3-scroll;
    animation-range: cover 30% cover 55%;
}

.island4 {
    /* Final-scene-3-merged_0007_Island-4.png */
    animation-name: appearAndFade;
    animation-timeline: --scene-3-scroll;
    animation-range: cover 20% cover 45%;
}

.island3 {
    /* Final-scene-3-merged_0006_Island-3.png */
    animation-name: appearAndFade;
    animation-timeline: --scene-3-scroll;
    animation-range: cover 15% cover 40%;
}

.island2 {
    /* Final-scene-3-merged_0005_Island-2.png */
    animation-name: appearAndFade;
    animation-timeline: --scene-3-scroll;
    animation-range: cover 15% cover 35%;
}

.island1Email1 {
    /* Final-scene-3-merged_0004_island-1-(email-1).png */
    animation-name: appearAndFade;
    animation-timeline: --scene-3-scroll;
    animation-range: cover 15% cover 30%;
}

.trucks {
    /* Final-scene-3-merged_0003_trucks.png */
    animation-name: appearAndFade;
    animation-timeline: --scene-3-scroll;
    animation-range: cover 35% cover 60%;
}

@keyframes appearAndFade {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateY(0px);
    }
}
