.progressive-blur {
    position: absolute;
    z-index: 4;
    width: 100%;
    height: 100%;
    pointer-events: none;
    inset: auto 0 0 0;
    background-image: linear-gradient(to top, #e9ebf100 0%, #e9ebf1bb 100%);

    .blur {
        position: absolute;
        inset: 0;

        &:nth-child(1) {
            backdrop-filter: blur(1.5px);
            mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 27%, rgba(0, 0, 0, 1) 51.33333333333333%, rgba(0, 0, 0, 1) 75.66666666666666%, rgba(0, 0, 0, 0) 100%);
            -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 27%, rgba(0, 0, 0, 1) 51.33333333333333%, rgba(0, 0, 0, 1) 75.66666666666666%, rgba(0, 0, 0, 0) 100%);
            z-index: 1;
        }

        &:nth-child(2) {
            backdrop-filter: blur(3px);
            mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 51.33333333333333%, rgba(0, 0, 0, 1) 75.66666666666666%, rgba(0, 0, 0, 1) 100%);
            -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 51.33333333333333%, rgba(0, 0, 0, 1) 75.66666666666666%, rgba(0, 0, 0, 1) 100%);
            z-index: 2;
        }

        &:nth-child(3) {
            backdrop-filter: blur(6px);
            mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 75.66666666666666%, rgba(0, 0, 0, 1) 100%);
            -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 75.66666666666666%, rgba(0, 0, 0, 1) 100%);
            z-index: 3;
        }
    }
}