.root {
    view-timeline-name: --scene-2-scroll;
    view-timeline-axis: block;
}

.layer {
    composes: layer from global;
    animation-fill-mode: both;
}

.bg {
    animation-name: appearAndFade;
    animation-timeline: --scene-2-scroll;
    animation-range: cover 0% cover 10%;
}

.platform {
    animation-name: appearAndFade;
    animation-timeline: --scene-2-scroll;
    animation-range: cover 25% cover 30%;
}

.tree {
    animation-name: appearAndFade;
    animation-timeline: --scene-2-scroll;
    animation-range: cover 10% cover 15%;
}

.road {
    animation-name: appearAndFade;
    animation-timeline: --scene-2-scroll;
    animation-range: cover 5% cover 15%;
}

.mailbox {
    animation-name: appearAndFade;
    animation-timeline: --scene-2-scroll;
    animation-range: cover 35% cover 45%;
}

.deliveryGuy {
    animation-name: appearAndFade;
    animation-timeline: --scene-2-scroll;
    animation-range: cover 45% cover 55%;
}

.van {
    animation-name: van;
    animation-timeline: --scene-2-scroll;
    animation-range: cover 0% cover 60%;
}

.arrows {
    animation-name: appearAndFade;
    animation-timeline: --scene-2-scroll;
    animation-range: cover 35% cover 45%;
}

.cabinet {
    animation-name: appearAndFade;
    animation-timeline: --scene-2-scroll;
    animation-range: cover 40% cover 50%;
}

.grandpa {
    animation-name: appearAndFade;
    animation-timeline: --scene-2-scroll;
    animation-range: cover 50% cover 60%;
}

.bush {
    animation-name: appearAndFade;
    animation-timeline: --scene-2-scroll;
    animation-range: cover 20% cover 30%;
}

:root {
    --van-movement-percentage: 20%;
}

@keyframes appearAndFade {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes van {
    0% {
        opacity: 0;
        transform: translate(calc(var(--van-movement-percentage) * -1), calc(var(--van-movement-percentage) * tan(26.4deg) * 1.5 * -1));
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}