.root {
    view-timeline-name: --scene-2-scroll;
    view-timeline-axis: block;
}

.background {
    animation-name: background;
    animation-timeline: --scene-2-scroll;
    animation-range: cover 0% cover 100%;
    animation-fill-mode: both;
}

.bg {
    animation-name: bg;
    animation-timeline: --scene-2-scroll;
    animation-range: cover 0% cover 100%;
    animation-fill-mode: both;
}

.platform {
    animation-name: platform;
    animation-timeline: --scene-2-scroll;
    animation-range: cover 0% cover 100%;
    animation-fill-mode: both;
}

.tree {
    animation-name: tree;
    animation-timeline: --scene-2-scroll;
    animation-range: cover 0% cover 100%;
    animation-fill-mode: both;
}

.road {
    animation-name: road;
    animation-timeline: --scene-2-scroll;
    animation-range: cover 0% cover 100%;
    animation-fill-mode: both;
}

.mailbox {
    animation-name: mailbox;
    animation-timeline: --scene-2-scroll;
    animation-range: cover 0% cover 100%;
    animation-fill-mode: both;
}

.deliveryGuy {
    animation-name: deliveryGuy;
    animation-timeline: --scene-2-scroll;
    animation-range: cover 0% cover 100%;
    animation-fill-mode: both;
}

.van {
    animation-name: van;
    animation-timeline: --scene-2-scroll;
    animation-range: cover 0% cover 60%;
    animation-fill-mode: both;
}

.arrows {
    animation-name: arrows;
    animation-timeline: --scene-2-scroll;
    animation-range: cover 0% cover 100%;
    animation-fill-mode: both;
}

.cabinet {
    animation-name: cabinet;
    animation-timeline: --scene-2-scroll;
    animation-range: cover 0% cover 100%;
    animation-fill-mode: both;
}

.grandpa {
    animation-name: grandpa;
    animation-timeline: --scene-2-scroll;
    animation-range: cover 0% cover 100%;
    animation-fill-mode: both;
}

@keyframes background {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(0, 0);
    }
}

@keyframes bg {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(0, 0);
    }
}

@keyframes platform {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(0, 0);
    }
}

@keyframes tree {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(0, 0);
    }
}

@keyframes road {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(0, 0);
    }
}

@keyframes mailbox {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(0, 0);
    }
}

@keyframes deliveryGuy {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(0, 0);
    }
}

:root {
    --van-movement-percentage: 20%;
}

@keyframes van {
    from {
        transform: translate(calc(var(--van-movement-percentage) * -1), calc(var(--van-movement-percentage) * tan(26.4deg) * 1.5 * -1));
    }
    to {
        transform: translate(0, 0);
    }
}

@keyframes arrows {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(0, 0);
    }
}

@keyframes cabinet {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(0, 0);
    }
}

@keyframes grandpa {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(0, 0);
    }
}